<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Gonzalo Moreno Arévalo y Víctor Loureiro Sancho.
</p>

<p href="https://github.com/gonzalomoreno05/quiz_2017">https://github.com/gonzalomoreno05/quiz_2017</p>

<p href="https://github.com/VictorLoureiro/quiz_2017">https://github.com/VictorLoureiro/quiz_2017</p>

<img src="/images/Gonzalo foto.jpg" width="300" heigh="300" />
<img src="/images/Victor foto.jpg"  width="400" heigh="500"/>

