<h1>AYUDA SOBRE EL PROYECTO QUIZ</H1>

<p> Un quiz es una red social educativa destinada a la creación de adivinanzas que permite compartir estas entre múltiples usuarios. Tiene una arquitectura de aplicación Web, esta desplegado en Heroku, un servicio en la nube que alberga aplicaciones y está empaquetado con npm.</p>
